/* Общие стили */

.address {
  max-width: 209px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.37;
}

.link {
  border-bottom: 1px solid #000;
  text-transform: lowercase;
}

.link_active {
  border-bottom: none;
}

.address__link {
  border-bottom: 1px solid #000;
  letter-spacing: 0.02em;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

/* Шапка сайта */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  column-gap: 35px;
  max-width: max-content;
  margin: 0 auto 90px;
  padding: 0 27px;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 138px;
}

.header__address {
  justify-self: end;
  margin-right: 29px;
}

/* Главный баннер */

.cover {
  position: relative;
  margin-bottom: 179px;
  padding: 165px 50px 51px;
  color: #fff;
  background: url('../images/cover.jpg') top/cover no-repeat;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 10;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 10;
}

.cover__description-text {
  padding-top: 3px;
  padding-left: 28px;
  font-size: 22px;
  line-height: 1.272;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
}

/* Список лотов */

.lots {
  max-width: 1052px;
  margin: 0 auto 182px;
}

.lots__heading {
  margin-bottom: 26px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 46px;
  color: #fff;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg') top/cover no-repeat;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg') top/cover no-repeat;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg') top/cover no-repeat;
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 10;
}

.card__text {
  position: relative;
  z-index: 10;
}

.lots__look-more-link {
  margin-left: 40px;
}

/* Об аукционе */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  max-width: 1052px;
  margin: 0 auto 180px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
  padding-top: 101px;
}

.about__text {
  margin-bottom: 24px;
  padding-right: 5px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* Подвал сайта */

.footer {
  display: flex;
  justify-content: space-between;
  width: 1052px;
  margin: 0 auto;
  padding-bottom: 88px;
  padding-inline: 25px;
}

.footer__address {
  max-width: 235px;
}

.footer__menu {
  padding-left: 5px;
}

.footer__menu-list {
  text-align: center;
}
.footer__menu-list-item {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
